---
title: LeetCode 185_部门工资前三高的所有员工
date: 2019-09-10
categories: [LeetCode, Database]
mathjax: false
---

## 题目描述

Employee 表包含所有员工信息，每个员工有其对应的工号 Id，姓名 Name，工资 Salary 和部门编号 DepartmentId 。

```
+----+-------+--------+--------------+
| Id | Name  | Salary | DepartmentId |
+----+-------+--------+--------------+
| 1  | Joe   | 85000  | 1            |
| 2  | Henry | 80000  | 2            |
| 3  | Sam   | 60000  | 2            |
| 4  | Max   | 90000  | 1            |
| 5  | Janet | 69000  | 1            |
| 6  | Randy | 85000  | 1            |
| 7  | Will  | 70000  | 1            |
+----+-------+--------+--------------+
```

Department 表包含公司所有部门的信息。

```
+----+----------+
| Id | Name     |
+----+----------+
| 1  | IT       |
| 2  | Sales    |
+----+----------+
```

编写一个 SQL 查询，找出每个部门获得前三高工资的所有员工。例如，根据上述给定的表，查询结果应返回：

```
+------------+----------+--------+
| Department | Employee | Salary |
+------------+----------+--------+
| IT         | Max      | 90000  |
| IT         | Randy    | 85000  |
| IT         | Joe      | 85000  |
| IT         | Will     | 70000  |
| Sales      | Henry    | 80000  |
| Sales      | Sam      | 60000  |
+------------+----------+--------+
```

解释：

IT 部门中，Max 获得了最高的工资，Randy 和 Joe 都拿到了第二高的工资，Will 的工资排第三。销售部门（Sales）只有两名员工，Henry 的工资最高，Sam 的工资排第二。

## 解题思路

1. Employee join Employee，取出比自己大的数目小于3的
2. 再取所需维度，where id 在上面筛选出来的
3. hive中直接用 row_number() over(partition by DepartmentId order by Salary desc) as rank，外面再包一层 rank <= 3 即可

## code

In [1]:
# Write your MySQL query statement below
select
    d.Name as 'Department',
    c.Name as 'Employee',
    c.Salary as 'Salary'
from Employee c
inner join Department d
    on c.DepartmentId = d.Id
where c.Id in 
    (select
        a.Id
    from Employee a
    left join Employee b
        on a.DepartmentId = b.DepartmentId 
            and a.Salary < b.Salary
    group by a.Id
    having count(distinct b.Salary) < 3)
order by d.Name, c.Salary desc, c.Name

## 成绩

- 用时：331 ms
- 内存消耗：N/A

> 参考：

1. [185. 部门工资前三高的所有员工](https://leetcode-cn.com/problems/department-top-three-salaries/)